.main-wrp
{
	max-width: 1366px;
	height: auto;
	margin: 0 auto;
	background: #222222;
}

.main-wrp >.head-wrp
{
	width: 100%;
	height: 110px;
}

.main-wrp > .body-wrp
{
	position: absolute;
	width: 85%;
}

.main-wrp >.body-wrp > .nav-cont
{
	
	display: inline-block;
	float: left;
	margin: auto;
}

.main-wrp >.head-wrp > .nav-cont > nav > ul > li
{
	display: inline-block;	
	
}

.main-wrp >.head-wrp > .nav-cont > nav > ul > li > a
{
	text-decoration: none;
	color: #8f8d8e;
}

.icon-wrp
{	
	display: inline-block;	
	max-height: 423px;
}


