/*its a total wraper of all contents we see*/
.main-wrp
{
	font-family: arial;
	max-width: 1366px;
	height: auto;
	margin: 0 auto;	
}

/*background of head and image takes 100% width so single wrapper for them*/
.head-img-wrp
{
	width: 100%;
	height: auto;
}

.head-wrp
{
	width: 100%;
	height: 108px;
	background-color: #212121;
}

.icon-nav-wrp
{
	max-width: 860px;
	height: inherit;
	margin: 0 auto;
}

.icon-wrp
{	
	display: inline-block;	
	height: inherit;
	width: auto;
	float: left;
}

.nav-wrp
{	
	display: inline-block;
	height: inherit;
	
	float: right;
}

/*.nav-wrp > ul
{
	margin: auto;
}*/

.nav-wrp > nav > ul > li
{
	display: inline-block;
	margin: 0 10px;	
	
}

.nav-wrp > nav
{
	margin: 25px auto;
}

.nav-wrp > nav > ul > li > a
{
	text-decoration: none;
	color: #8f8d8e;
}

.nav-wrp > nav > ul > li > a:hover
{
	color: white;
}

.img-wrp
{
	display: flex;
	max-height: 412px;
	width: 100%;
}

.responsive
{
	width: 100%;
	height: auto;
}

.img-wrp > img
{
	/*margin-top: -50px;	*/
}

.contents
{
	max-width: 860px;
	margin: 0 auto;
}

.capital
{
	text-transform: uppercase;
}

.hire-us
{
	display: inline-block;
	padding: 25px 0;
	
}

.right
{
	float: right;
}

.inlined
{
	display: inline-block;
}

.hire-us-text
{
	display: inline-block;
	width: 80%;
	float: left;
}

.hire-us .hire-us-text h1, h2, h3, h4, h5, h6
{
	color: #2b2b2b;
	display: inline-block;
}

.home-opt-home-wrp p
{
	margin-top: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}

.main-wrp h4
{
	margin-top: 15px;
}

.main-wrp h2
{
	margin-bottom: 20px;
}
.content-wrp h1, h2, h3, h4, h5, h6
{
	color: #2b2b2b;
}

.transparent
{
	opacity: 0.5;
}

.hire-us .hire-us-text h1
{
	font-size: 25px;
}

.hire-us .hire-us-text h3
{
	font-size: 18px;
	opacity: 0.5;
}


.button-wrp
{
	display: inline;
	height: inherit;
	width: auto;
	float: right;
	
}

.hire-us > .button-wrp > button
{
	display: inline-block;
	height: 35px;
	background-color: #2b2b2b;

}

.white
{
	color: white;
}

.home-opt-wrp
{
	height: auto;
}

.home-opt-home-wrp
{
	height: auto;	
}

.home-opt-home-wrp img
{
	height: 122px;
	max-width: 207px;
	display: inline-block;
}

.col1, .col2, .col3, .col4
{
	display: inline-block;
	max-width: 207px;
}



.home-opt-home-wrp .col1
{

}

.col2, .col3, .col4
{
	margin-left: 6px;
}

.home-opt-home-wrp .col3
{

}

.home-opt-home-wrp .col4
{

}

.read-more
{
	display: block;
	margin: 10px 0;
	height: 35px;
	background-color: #2b2b2b;
	padding: auto;
}

.read-more p
{
	margin: auto;
}

.borderline-img
{
	max-width: 100%;
	height: auto;
	margin: 30px auto;
}

.foot-wrp
{
	height: 58px;
	width: 100%;
	background-color: #212121;
}





