body{
	margin:0;
	padding: 0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.window{
	position: relative;
	width:100%;
	min-height:300px;
	margin-top: 40px;
	overflow: hidden;
	border-bottom: 1px solid black;	
}

.ball-div{
	position: absolute;
	top: 260px;
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 50px;
	animation: movee-ball 2s linear infinite;
}	

@keyframes movee-ball{
	0%{transform: translateX(0);}
	100%{transform: translateX(546px);}
}