<!DOCTYPE html>
<html>
<head>
	<title>template 1</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="main-wrap">
		<div class="top-home-wrapper">
			<div class="header-wrap">
				<p class="cont">Architecto</p>
				<div class="nav">
					<ul>
					  <li><a class="active" href="#about">ABOUT US</a></li>
					  <li><a href="#services">SERVICES</a></li>
					  <li><a href="#blog">BLOG</a></li>
					  <li><a href="#events">EVENTS</a></li>
					  <li><a href="#contacts">CONTACTS</a></li>
					  <input type="text" placeholder="Search..">
					</ul>
				</div>
			</div>
			<div class="slider-wrap">
				<img src="img/house.png" class="slider">
			</div>
		</div>
	</div>
</body>
</html>